* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  max-width: 100%;
  height: 20%;
  background-color: #726bea;
  color: white;
  padding: 2rem;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

hr {
  margin: 1.5rem 0;
}
